<h1>Listing orders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Payment</th>
    <th>Status</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.payment %></td>
    <td><%= order.status %></td>
    <td><%= order.total %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Cart', order_books_path(order) %></td>
    <td><%= link_to 'Checkout', checkout_path(order), method: :post%></td>
   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Home', root_path, method: :get %>
<%= link_to 'New Order', new_order_path %>
